<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Mot de passe oublié</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>

<div id="background"></div>

<div id="login">
  <div class="user-login">

    <div class="back">
      <a href="{{ url_for('login') }}"><i class="fa fa-arrow-left"></i></a>
    </div>

    <form method="POST" action="{{ url_for('forgot_password') }}">
    <table>
      <tr>
        <td><h1 id="f-1">Mot de passe oublié</h1></td>
      </tr>
      <tr>
        <td><input type="email" name="email" class="text text-2" placeholder="Email" required></td>
      </tr>
      <tr>
        <td>
          <button type="submit" class="login-button pass-reset">
              Reset Password
          </button>
        </td>
      </tr>
    </table>
    </form>

  </div>
</div>

</body>
</html>
